* {
    z-index: 1;
    font-family: Roboto, sans-serif;
}

body {
    overflow-x: hidden;
}
.NoteApp {
    padding: 30px;
    background-color: rgb(26, 26, 26);
    color: azure;
    display: block;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

.NoteApp .heading {
    display: block;
    width: fit-content;
    padding: 15px 20px;
    background-color: rgb(41, 57, 52);
    border-radius: 5px;
    margin-bottom: 50px;
}

.notes {
    display: grid;
    justify-self: center;
    justify-content: start;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(42, 41, 41);
    padding: 20px;
    border-radius: 20px;
    overflow-x: hidden;
    column-gap: 30px;
    row-gap: 30px;
}

.note {
    /* min-height: 320px; */
    height: fit-content;
    max-height: 400px;
    width: clamp(200px, 26vw, 400px);
    padding: 25px 20px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    cursor:pointer;
    /* margin: 20px; */
}

.note-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.note-title {
    font-size: 20px;
    font-family: Montserrat, 'Times New Roman';
}

.note:hover .note-title{
    text-decoration: underline;
}

.note-para {
    line-height: 30px;
    text-indent: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.add-note-btn {
    height: clamp(25px, 9vw, 70px);
    width: clamp(25px, 9vw, 70px);
    border-radius: 100px;
    display: block;
    justify-self: center;
    margin: 30px 0px;
    font-size: clamp(15px, 4vw, 30px);
    cursor: pointer;
}

.popup-div {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.592);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup {
    padding: 10px 20px 20px 20px;
    height: 450px;
    width: 400px;
    background-color: gray;
    border-radius: 10px;
    display: block;
    z-index: 2;
    position: fixed;
    top: 10%;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(40, 40, 40);
    border: 2px solid rgb(40, 40, 40);
    color: white;
    border-radius: 10px;
}

.btn:hover {
    border: 2px solid rgb(61, 61, 255);
}

.reset-btn {
    margin-bottom: 20px;
    background-color: rgb(255, 47, 47);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.reset-btn:hover {
    background-color: rgb(215, 37, 37);
}
.save-note {
    display: block;
    margin: 20px 0px;
    justify-self: center;
}

.title-input {
    margin: 10px 0px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.content-input {
    margin: 10px 0px;
    padding: 20px;
    height: 200px;
    width: 100%;
    resize: none;
}

.smol-popup{
    position: fixed;
    top: 10%;
    z-index: 2;
    padding: 20px;
    height: fit-content;
    width: 400px;
    background-color: gray;
    border-radius: 30px;
    text-align: center;
}

.search-wrapper {
    margin: 50px 0px;
}

.search {
    height: clamp(30px, 2vw, 60px);
    padding-left: clamp(10px,1vw, 20px);
    padding-right: clamp(10px,1vw, 20px);
    width: clamp(150px, 15vw, 300px);
    border-radius: 20px;
    text-overflow: ellipsis;
}

.clear-btn {
    position: relative;
    top: 8px;
    right: 30px;
    cursor: pointer;
}

.zn-backdrop{
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    top:0;
    left:0;
    backdrop-filter: blur(20px);
    cursor: default;
    justify-content: center;
    align-items: center;
}

.zoomed-note {
    height: 80vh;
    width: 75vw;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(51, 51, 51);
    max-width: 700px;
}

.zn-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details {
    color: gray;
    font-size: 15px;
}

.options-btn{
    border: none;
    background-color: transparent;
    /* color: white; */
}

.zn-para {
    margin-top: 20px;
    line-height: 30px;
}

.option-div {
    position: fixed;
    border-radius: 5px;
    background-color: gray;
    width: 100px;
}

.options {
    text-align: center;
    padding: 10px 0px;

}
@media (max-width: 800px) {
    .notes {
        grid-template-columns: 1fr 1fr;
    }
    .note {
        width: clamp(200px, 40vw, 300px);
    }
}


@media (max-width: 500px) {
    .NoteApp {
        padding: 20px;
    }
    .notes {
        grid-template-columns: 1fr;
    }

    
}