.note {
    /* min-height: 320px; */
    height: fit-content;
    max-height: 400px;
    width: clamp(180px, 26vw, 400px);
    padding: 25px 20px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    cursor:pointer;
    justify-self: center;
    /* margin: 20px; */
}

.note-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.note-title {
    font-size: 20px;
    font-family: Montserrat, 'Times New Roman';
    color: rgb(206, 206, 206);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.note:hover .note-title{
    color: white;
}

.note-para {
    line-height: 30px;
    text-indent: 30px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: clamp(13px, 1vw, 15px)
}

.zn-backdrop{
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    top:0;
    left:0;
    backdrop-filter: blur(20px);
    cursor: default;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.zoomed-note {
    position: absolute;
    max-height: 80vh;
    width: 75vw;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(51, 51, 51);
    max-width: 700px;
    z-index: 2;
    color: white;
    overflow-y: auto;
}

.zoomed-note::-webkit-scrollbar{
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    width: 15px;
    margin-right: 20px;
    border: 3px solid rgb(51, 51, 51);
    
}

.zoomed-note::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: white;
    border-radius: 30px;
    border: 3px solid rgb(51, 51, 51);
    padding-right: 50px;
}
.zn-header {
    display: flex;
    justify-content: space-between;
}

.details {
    color: gray;
    font-size: 15px;
    margin-bottom:10px;
}

.options-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* color: white; */
}

.zn-para {
    margin-top: 20px;
    line-height: 30px;
    white-space:pre-wrap;
}

.option-tray {
    position: fixed;
    display: flex;
    right: 28vw;
    flex-direction: column;
    column-gap: 20px;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(74, 74, 74);
}

.options {
    color: rgb(232, 232, 232);
    padding: 10px 10px;
    border-radius: 40px;
}

.options:hover {
    background-color: rgba(115, 115, 115, 0.551);
    cursor:pointer;
}

.info-div {
    background-color: rgb(51, 51, 51);
    color: rgba(120, 120, 120, 0.773);
    height: 40vh;
    width: clamp(300px,95vw,600px);
    z-index: 5;
    line-height: 40px;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
}

.info {
    display: block;
    color: rgb(184, 178, 178);
}

.info:hover {
    color: white;
}


@media (max-width:1027px) {
    .option-tray{
        right: 17vw;
    }
}

@media (max-width:769px) {
    .note-title {
        color: white;
    }

    .option-tray{
        right: 14vw;
    }
    .info {
        color: white;
    }
}

@media (max-width:470px) {
    
    .zoomed-note {
        top:20%;
        max-height: 65vh;
        min-height: 50vh;
        width: 80vw;
    }

    .note {
        background-color: rgb(42, 41, 41);
        padding: 15px;
    }

    .note-para{
        line-height: 20px;
    }

}


@media (max-width:380px) {
    
    .note {
        width: 160px;
    }

    .info-div{
        width: 80vw;
    }
    /* .note-para{
        -webkit-line-clamp:3;
    } */
}

@media (max-width:360px) {
    .note {
        width: 80%;
    }

    /* .note-para {
        -webkit-line-clamp: 5;
    } */
}