.settings-div{
    width: clamp(200px,90vw,700px);
    background-color: rgb(59, 59, 59);
    color: white;
    height: 70vh;
    min-height: fit-content;
    border-radius:15px;
    padding: 20px;
    /* padding-top: 10px; */
}

.format-input {
    background-color: gray;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0px;
    color: white;
    cursor: pointer;
}

.format-input::picker{
    border-radius: 10px;
    color: white;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.my-3 {
    margin-block: 3rem;
}

.space-between {
    justify-content: space-between;
}

.reset-btn {
    padding: 12px 30px;
    font-weight: 700;
    border-radius: 10px;
    background-color: whitesmoke;
    color: red;
    cursor:pointer;
    border: none;
}

.reset-btn:hover {
    background-color: rgb(235, 50, 50);
    color: whitesmoke;
    scale: 1.02;
    transition-duration: 50ms;
}

.download-btn, .import-btn {
    background-color: whitesmoke;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


.dropdown-container {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.import-btn:hover, .download-btn:hover {
    background-color: black;
    color: whitesmoke;
    transition-duration: 50ms;
}
.dropdown {
    position:fixed;
    z-index: 5;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}

.dropdown-option {
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: gray;
}

.import-popup {
    position: fixed;
    top: 10%;
    z-index: 5;
    padding: 0px 0px 30px 0px;
    height: fit-content;
    width: clamp(250px, 85vw, 700px);
    background-color: rgb(54, 55, 58);
    color:white;
    border-radius: 30px;
    text-align: center;
}

.close-btn {
    color: gray;
    background-color: transparent;
    border: none;
    text-align: end;
    padding: 10px 20px ;
    font-size: 25px;
    cursor: pointer;
}

.import-input-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-block: 20px;
    align-items: center;
}

.file-input {
    background-color: gray;
    height: fit-content;
    width: fit-content;
    margin-block: 20px;
}

.file-input::file-selector-button{
    padding: 5px 10px;
}

@media(max-width: 430px){
    .import-input-wrapper {
        display: block;
    }
}

@media(max-width: 350px){
    .file-input{
        width:200px;
    }
}